# Directorios de Java
/target/
/bin/
/build/

# Archivos de configuración
*.iml
*.class
*.log

# Configuración de IDEs
/.idea/
/.vscode/
/*.swp

# Archivos de OS
.DS_Store
Thumbs.db

# Maven
.mvn/wrapper/maven-wrapper.jar

# Docker
*.env
docker-compose.override.yml